<div class="join-container">
	<header class="join-header">
		<h1 id="title" style="margin-bottom: -10%;">Error</h1>
	</header>
	<main class="join-main">

		<h2 style="text-align: center;">{{message}}</h2>
		<a class="btn" id="createRoom" href="/joinRoom" style="margin-top: 5%; text-align: center;">Try again</a>

	</main>

</div>