<title>InstaGroup</title>
<div class="join-container">
	<header class="join-header">
		<h1 id="title">Room Information</h1>
	</header>
	<main class="join-main">

		<h2>Your room ID is {{roomID}}.</h2>
		<h2>Your room password is {{roomPassword}}.</h2>
		<a class="btn" id="createRoom" href="/joinRoom" style="margin-top: 5%;">Join Room</a>

	</main>

</div>